<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Place Order</title>

  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <style>
    p {
      font-weight: 400;
    }
  </style>
</head>

<body style="
      background-color: white;
      font-family: 'Roboto', sans-serif;
      /* font-family: 'Arial'; */
      color: #3e434f;
      font-weight: 400;
    ">
  <table style="width: 600px; margin: 0 auto; background-color: #f6f6f4">
    <thead>
      <tr style="background: rgba(39, 39, 39, 0.35); backdrop-filter: blur(4px)">
        <td style="text-align: center; padding: 20px">
          <a href="#">
            <img src="{{logoUrl}}" alt="Muslim Couple Retreat Logo" />
          </a>
        </td>
      </tr>
      <tr style="
            background-image: url({{bannerUrl}});
            background-size: cover;
            background-repeat: no-repeat;
            display: block;
            width: 100%;
            margin-top: -94px;
          ">
        <td style="padding: 100px 50px 50px; text-align: center; display: block">
          <h1 style="
                font-size: 40px;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                color: #ed9d58;
                text-align: center;
              ">
            {{eventName}}
          </h1>
          {{#if instructors.length}}
          <p style="
                color: white;
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                margin-top: 20px;
              ">
            with
          </p>
          {{#each instructors}}
          <p style="
                color: white;
                font-size: 45px;
                font-weight: 500;
                font-style: italic;
              ">
            {{this.name}}
          </p>

          {{/each}}


          {{/if}}


          <p style="
                color: white;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                border-bottom: 2px solid #ed9d58;
                padding-bottom: 15px;
              ">
            {{slogan}}
          </p>
          <p style="
                color: white;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                margin-top: 20px;
              ">
            <i class="icon-calender" style="color: #ed9d58"></i>
            {{eventDateRange}}
          </p>
        </td>
      </tr>
    </thead>
    <tbody style="
          padding: 40px 60px;
          display: block;
          text-align: center;
          width: 100%;
        ">
      <tr style="
            width: 100%;
            display: block;
            border-bottom: 2px solid #eaeaea;
            padding-bottom: 20px;
          ">
        <td style="width: 100%; display: block">
          <h2 style="font-size: 30px; font-weight: 700">
            Hello <span style="color: #ed9d58">{{receiver.name}}!</span>
          </h2>
        </td>
        <td style="width: 100%; display: block">
          <p style="
                font-size: 20px;
                font-weight: 400; 
                margin-top: 2 0px;
                padding-bottom: 20px;
              ">
            Your order has been placed to
            <span style="font-weight: 700; font-style: italic; color: #ed9d58">{{eventName}}.</span>
            Admin will get to back soon for confirmation.
          </p>
        </td>
        <td style="width: 100%; display: block">
          <p style="font-size: 20px; font-style: normal; font-weight: 700">
            Amount given
          </p>
          <p style="
                color: #3e434f;
                text-align: center;
                font-family: Arial;
                font-size: 45px;
              ">
            {{bookingAmount}}
          </p>
          <p style="font-size: 20px">
            Email address: {{receiver.email}}
          </p>
          <p style="font-size: 20px">
            Confirmation code: <span style="font-weight: 700">{{confirmationCode}}</span>
          </p>
        </td>
      </tr>

      <tr style="
            display: block;
            width: 100%;
            border-bottom: 2px solid #eaeaea;
            padding: 20px 0;
          ">
        <td style="display: block; width: 100%">
          <p>
            <span style="
                  background-color: #ffffff;
                  padding: 5px 10px;
                  border-radius: 5px;
                ">
              {{#if package.isSinglePackage}}
              NO HOTEL
              {{/if}}

              {{#unless package.isSinglePackage}}
              Weekend Package
              {{/unless}}
            </span>
          </p>
          {{#unless package.isSinglePackage}}
          <p style="color: #ed9d58; margin-top: 20px">{{package.roomName}}</p>
          {{/unless}}

          <h2 style="font-size: 30px; font-weight: 700">
            {{package.packageName}}
          </h2>

          <ul style="
                display: flex;
                justify-content: center;
                gap: 20px;
                margin-top: 20px;
              ">

            {{#each package.highlightFeatures}}
            <li>
              <p style="font-size: 20px">
                <span class="{{this.icon}}" style="color: #ed9d58"></span>
                {{this.label}}
              </p>
            </li>
            {{/each}}
          </ul>
        </td>
      </tr>

      <tr style="width: 100%; display: block">
        <td style="width: 100%; display: block; text-align: center">
          <p style="font-size: 20px; font-weight: 700; margin: 30px 0 20px">
            {{eventDateRange}}
            <span style="font-size: 18px; font-weight: 400">({{package.packagedays}}-day package)</span>
          </p>
          <button style="
                border: 0;
                background-color: #ff405f;
                color: white;
                font-size: 14px;
                padding: 7px 12px;
                border-radius: 5px;
              ">
            Per Couple
          </button>
          <p style="
                color: #3e434f;
                text-align: center;
                font-family: Arial;
                font-size: 45px;
                margin: 10px 0;
              ">
            {{package.packagePrice}}
          </p>
          <p style="font-size: 20px; font-weight: 700; margin-bottom: 10px">
            Room features:
          </p>
          <p style="font-size: 18px">
            {{package.roomFeatures}}
          </p>
        </td>
      </tr>

      <tr style="width: 100%; display: block; margin: 20px;">
        <td style="width: 100%; display: block; text-align: left;">
          <p style="font-size: 20px; font-weight: 700; margin-bottom: 10px">
            Package includes:
          </p>
          <ul style="margin-left: 17px;font-style: italic; display: flex; flex-direction: column; gap: 10px; ">
            {{#each package.packageDeal}}
            {{#if this.hasChildren}}
            <p style="font-weight: 700; font-style: italic;">{{this.item}}</p>
            {{#each this.child}}
            <p>- {{this}}</p>
            {{/each}}
            {{else}}
            <li style="list-style: disc;">
              <p>{{this.item}}</p>
            </li>

            {{/if}}
            {{/each}}
          </ul>
          <p style="color: #FF405F; font-style: italic; margin-top: 10px;">*{{package.packageDealNote}}</p>
          <p style="color: #ed9d58; font-style: italic;  text-align: center; margin-top: 20px;">*{{package.houseFeatureNote}}</p>
        </td>
      </tr>

      <tr style="width: 100%; display: block; margin: 30px 0 20px;">
        <td style="width: 100%; display: block; text-align: left;">
          <p style="font-size: 20px; font-weight: 700; margin-bottom: 10px">
            House features:
          </p>
          <p style="font-size: 18px;">{{package.houseFeatures}}</p>
         
          <div style="text-align: center; margin-top: 40px;">
            <a href="https://muslimcouplesretreat.com" style="
                                border: 0;
                                background-color: #ed9d58;
                                color: white;
                                font-size: 14px;
                                padding: 16px 32px;
                                border-radius: 5px;
                              ">
              See Package From Website
            </a>
          </div>

        </td>
      </tr>
    </tbody>
    <tfoot style="
          background-color: #3e434f;
          padding: 40px 50px;
          display: block;
          width: 100%;
        ">
      <tr style="display: grid; grid-template-columns: 1fr 1fr">
        <td style="display: block">
          <h3 style="font-size: 20px; font-weight: 700; color: white">
            Contacts:
          </h3>
          <p style="color: white; margin: 20px 0 12px">Monday - Friday</p>
          <ul>
            <li>
              <p style="color: white">
                <i class="icon-clock" style="margin-right: 10px"></i> 9 A.M. -
                5 P.M.
              </p>
            </li>
            <li>
              <p style="color: white">
                <i class="icon-whatsapp" style="margin-right: 10px"></i>
                214-555-5555
              </p>
            </li>
            <li>
              <p style="color: white">
                <i class="icon-mail" style="margin-right: 10px"></i>
                info&#64;muslimcouplesretreats.com
              </p>
            </li>
          </ul>
        </td>

        <td style="display: block; text-align: end">
          <p style="color: white"><i class="icon-phone"></i> 214-555-5555</p>
          <p style="color: white; font-size: 14px">(Mon-Fri - 5PM -9PM)</p>
          <p style="color: white; font-size: 14px">(Sat-Sun -10AM -5PM)</p>
          <h3 style="
                font-size: 20px;
                font-weight: 700;
                color: white;
                margin: 20px 0 12px;
              ">
            Get Social:
          </h3>
          <ul style="display: flex; justify-content: end; gap: 5px">
            <li>
              <i class="icon-facebook" style="margin-right: 10px; color: white; font-size: 20px"></i>
            </li>
            <li>
              <i class="icon-instagram" style="margin-right: 10px; color: white; font-size: 20px"></i>
            </li>
            <li>
              <i class="icon-linkedin" style="margin-right: 10px; color: white; font-size: 20px"></i>
            </li>
            <li>
              <i class="icon-youtube" style="margin-right: 10px; color: white; font-size: 20px"></i>
            </li>
          </ul>
        </td>
      </tr>

      <tr style="display: block; width: 100%; margin-top: 40px">
        <div style="text-align: center; margin-top: 20px; font-size: 20px">
          <div style="background-color: white; width: 100%; height: 1px"></div>
          <h2 style="
                position: relative;
                padding: 0 10px;
                top: -18px;
                color: #ffffff;
                display: inline-block;
                font-size: 20px;
                background-color: #3e434f;
              ">
            <span style="color: #ed9d58">Register</span> Early To Secure Your
            Spot!
          </h2>
        </div>
      </tr>
      <tr style="display: block; width: 100%">
        <td style="display: block; width: 100%">
          <p style="
                color: white;
                text-align: center;
                font-size: 10px;
                margin-top: -10px;
              ">
            Copyright &copy; 2024. All right reserved.
          </p>
        </td>
      </tr>
    </tfoot>
  </table>
</body>

</html>